body {
    font-family: Arial, sans-serif;
  }
  
  #input-container {
    margin-bottom: 40px;
  }
  
  #output-container {
    margin-top: 40px;
  }
  
  #output {
    font-weight: bold;
  }

  #input-svg-container, #output-svg-container {
    margin-top: 40px;
  }  

  label{
    font-size: larger;
    font-weight: bold;
  }
